name: Deploy react to pages
#on: [push,workflow_dispatch]
on: 
    push:
      branches:
        - main 
        - 'feature/**'
      paths-ignore:
        - README.md  
    workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
        - name: Get Code
          uses: actions/checkout@v6.0.1 
          #run: |
           #echo "cloning repo"
           #echo "${{toJson(github)}}"
           #git clone https://github.com/${{github.repository}}.git
        - name: install node 20 version
          uses: actions/setup-node@v6
          with:
            node-version: 20
        - name: print node version
          run: node -v
        - name: Cache Dependencies
          uses: actions/cache@v4
          with: 
             path: ~/.npm
             key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}     
        - name: install dependencies
          run: npm ci
        - name: Run Test
          run: npm run test
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
        - name: Get Code
          uses: actions/checkout@v6.0.1 
          #run: |
           #echo "cloning repo"
           #echo "${{toJson(github)}}"
           #git clone https://github.com/${{github.repository}}.git
        - name: install node 20 version
          uses: actions/setup-node@v6
          with:
            node-version: 20
        - name: Cache Dependencies
          uses: actions/cache@v4
          with: 
             path: ~/.npm
             key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}    
        - name: install dependencies
          run: npm ci
        - name: Build Project
          run: npm run build  
        - name: upload artifact
          uses: actions/upload-pages-artifact@v3
          with:
            name: github-pages
            path: dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 # or specific "vX.X.X" version tag for this action
        with:
            token: ${{secrets.GITHUB_TOKEN}}