name: Deploy
#on: [push,workflow_dispatch]
on: 
    push:
      branches:
        - main 
        - 'feature/**'
      paths-ignore:
        - '.github/workflows/*'
        - README.md  
    workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
        - name: Get Code
          uses: actions/checkout@v6.0.1 
          #run: |
           #echo "cloning repo"
           #echo "${{toJson(github)}}"
           #git clone https://github.com/${{github.repository}}.git
        - name: install node 20 version
          uses: actions/setup-node@v6
          with:
            node-version: 20
        - name: print node version
          run: node -v
        - name: install dependencies
          run: npm ci
        - name: Run Test
          run: npm run test  
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
        - name: Get Code
          uses: actions/checkout@v6.0.1 
          #run: |
           #echo "cloning repo"
           #echo "${{toJson(github)}}"
           #git clone https://github.com/${{github.repository}}.git
        - name: install node 20 version
          uses: actions/setup-node@v6
          with:
            node-version: 20
        - name: Cache Dependencies
          uses: actions/cache@v4
          with: 
             path: ~/.npm
             key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}    
        - name: install dependencies
          run: npm ci
        - name: Deploy
          run: echo "deploy successfully"
